@import "../../shared/styles/breakpoints.scss";

.image-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
  height: auto;
  padding: 40px 0;
  width: 100%;
  padding: 40px 0;

  @include md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }

  .list-item {
    flex: auto;
    overflow: hidden;
    position: relative;
    height: 400px;

    @include md {
      height: 100%;
    }
  }

  img {
    width: auto;
    min-height: 100%;
    position: relative;

    @include md {
      height: 100%;
    }
  }
}
