<section class="container">
  <div class="content">
    <div class="image" [style.background-image]="'url(' + url() + ')'">
      <div class="circle circle-top"></div>
      <div class="circle circle-bottom"></div>
      <!-- {video && <Video video={video} />} -->
      <div class="shadow"></div>

      <div class="cms-content">
        <div class="text-container">
          @if(subtitle){
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
          }

          <h1 class="title">{{ title }}</h1>
          <!-- LINKBUTTON -->
          @if(button){
          <a [href]="button.link">{{ button.title }}</a>
          }
        </div>
      </div>
    </div>
  </div>
</section>
