@for(content of content; track content){ @switch(content.type){
<!-- H1 -->
@case(TextTypes.H1){
<h1>{{ content.text }}</h1>
}
<!-- H2 -->
@case(TextTypes.H2){
<h2>{{ content.text }}</h2>
}
<!-- H3 -->
@case(TextTypes.H3){
<h3>{{ content.text }}</h3>
}
<!-- Text -->
@case(TextTypes.Text){
<!-- Link -->
@if(content.link){
<a [href]="content.link">{{ content.text }}</a>
}
<!-- Text -->
@else{
<p>{{ content.text }}</p>
} }

<!-- Quote -->
@case(TextTypes.Quote){
<q>{{ content.text }}</q>
}
<!-- List element -->
@case(TextTypes.Bullet){
<li>{{ content.text }}</li>
}

<!-- Default -->
@default { } } }
