@if(content){
<app-hero
  [title]="content.hero.title!"
  [subtitle]="content.hero.subtitle!"
  [heroImage]="content.hero.heroImage!"
  [button]="content.hero.button!"
  [video]="content.hero.video!"
  [mobileImage]="content.hero.mobileImage!"
></app-hero>

@if(content.content){
<section class="section">
  @for(block of content.content; track block){ @switch (block.type) {
  <!-- Content -->
  @case("content"){
  <app-content [content]="block.content" class="content"></app-content>
  }

  <!-- TextAndImage -->
  @case("textAndImage"){
  <app-text-and-image [imageWithText]="block.content"></app-text-and-image>
  }

  <!-- images -->
  @case("images"){
  <app-images [images]="block.content"></app-images>
  }

  <!-- >Blocks -->
  @case("blocks"){
  <app-blocks [blocks]="block.content"></app-blocks>
  } } }
</section>
} }
